body {
    margin: 0; 
    font-family: sans-serif;
}
a {
    text-decoration: none; 
    color: #888;
}
a:hover {
    text-decoration: underline;
}

ul{
    margin:0;
    padding:0;
}


.color_naver {
color: #03cf5d;
}

.text_bold-13 {
    font-weight: bold;
    font-size: 13px;
}

.gap-box {
    background: #f2f4f7;
    height: 10px;
  }
  .border-dee3eb {
    border: 1px solid #dee3eb;
  }